.floating-menu-main-panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1005;
}

.floating-menu-panel {
    background-color: #EEE7E2;
    border-radius: 8px;
    position: relative;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.floating-menu-close-button {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    top: 5px;
    right: 5px;
    font-size: 22px !important;
}

.floating-menu-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.floating-menu-content > * {
    width: 100%;
    height: 45px;
    border-radius: 0;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: 0.5px solid #85C3BC !important;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px !important;
}

.floating-menu-content > *:last-child {
    border-bottom: none !important;
}

.floating-menu-warning-button{
    color: #A60815 !important;
}

@media only screen and (max-width: 480px) {
    .floating-menu-panel {
        width: 80%;
        max-width: 300px;
    }

    .floating-menu-close-button {
        color: #54A49C;
        cursor: pointer;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .floating-menu-panel {
        width: 90%;
        max-width: 600px;
    }

    .floating-menu-close-button {
        color: #54A49C;
        cursor: pointer;
        margin-left: 10px;
    }
}

@media only screen and (min-width: 1025px) {
    .floating-menu-panel {
        width: 90%;
        max-width: 450px;
        z-index: 1000;
    }

    .floating-menu-close-button {
        color: #54A49C;
        cursor: pointer;
        margin-left: 10px;
    }

    .floating-menu-content > * {
        width: 100%;
    }
}