:root {
    --logo-small: 180px;
    --logo-medium: 300px;
    --logo-large: 400px;
    --title-small: 45px;
    --title-medium: 60px;
    --title-large: 70px;
    --subheading-width-small: 250px;
    --subheading-width-medium: 300px;
    --buttons-height: 160px;
}

.home-main-container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.home-logo-title {
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.home-subheading {
    text-align: center;
    font-weight: bold;
}

.home-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.home-footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

@media only screen and (max-width: 480px) {
    .home-main-container {
        flex-direction: column;
    }
    .home-logo-title {
        font-size: var(--title-small);
    }
    .home-subheading {
        width: var(--subheading-width-small);
    }
    .home-logo {
        width: var(--logo-small);
        height: var(--logo-small);
    }
    .home-header-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .home-buttons-container {
        height: var(--buttons-height);
        padding-top: 30px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .home-main-container {
        flex-direction: column;
    }
    .home-logo-title {
        font-size: var(--title-medium);
    }
    .home-subheading {
        width: var(--subheading-width-medium);
        font-size: 18px;
    }
    .home-logo {
        width: var(--logo-medium);
        height: var(--logo-medium);
    }
    .home-header-container {
        padding-top: 10%;
        padding-bottom: 60px;
    }
    .home-buttons-container {
        height: var(--buttons-height);
        padding-top: 30px;
    }
}

@media only screen and (min-width: 1025px) {
    .home-main-container {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .home-logo {
        width: var(--logo-large);
        height: var(--logo-large);
    }
    .home-logo-title {
        font-size: var(--title-large);
    }
    .home-subheading {
        width: var(--subheading-width-small);
    }
    .home-header-container {
        width: 50%;
        padding-top: 40px;
        padding-left: 10%;
    }
    .home-buttons-container {
        width: 50%;
        height: 130px;
        padding-top: 0;
        padding-right: 15%;
    }
}