.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.input-label {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #001F31;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.input-field {
    flex: 1;
    background-color: white;
    border: 2px solid #D9A491;
    border-radius: 6px;
    padding: 5px;
    font-size: 14px;
    padding-right: 30px;
}

.input-password-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #001F31;
    font-size: 20px;
}

.input-field:focus {
    outline: none;
    border-color: #85C3BC;
}