.bio-main-container {
    display: flex;
    flex-direction: column;
    background-color: #d9a49180;
    height: 200px;
    border-radius: 12px;
    margin: 0 auto;
    padding: 20px 10px 10px 10px;
    position: relative;
    overflow: hidden;
}

.bio-settings-button {
    position: absolute;
    top: 10px;
}

.bio-buttons-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bio-infos {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 50px);
}

.bio-profil-picture-container {
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid #d9a491;
    background-color: #eee7e2;
    overflow: hidden;
    margin-right: 10px;
    align-self: flex-start;
}

.bio-profil-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.bio-name-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-bottom: 10px;
    flex-grow: 1; */
}

.name-and-firstname {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #001f31;
    margin-bottom: 5px;
}

.bio-summary {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #45525a;
}

.bio-followers-button,
.bio-follows-button, 
.bio-follow-button {
    width: 110px;
    height: 35px;
    margin-left: 5px;
    font-size: 13px;
}

.bio-follow-button.followed {
    background-color: #85C3BC;
    border-color: #001f31;
    color: #001f31;
}

@media only screen and (max-width: 480px) {
    .bio-settings-button {
        right: 10px;
    }

    .bio-buttons-container {
        bottom: 10px;
        right: 10px;
    }
} 

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .bio-settings-button {
        right: 20px;
    }

    .bio-buttons-container {
        bottom: 20px;
        right: 20px;
    }

    .bio-infos {
        padding-left: 15px;
        padding-right: 15px;
    }

    .bio-name-summary {
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 1025px) {
    .bio-settings-button {
        right: 20px;
    }

    .bio-buttons-container {
        bottom: 20px;
        right: 20px;
    }

    .bio-infos {
        padding-left: 15px;
        padding-right: 15px;
    }

    .bio-name-summary {
        padding-bottom: 20px;
    }
}