.signup-footer {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    margin-top: auto;
}

.signup-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.signup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    margin-top: 3%;
}

.signup-logo-title {
    margin-top: 10px;
    margin-bottom: 0;
}

.signup-subheading {
    text-align: center;
    font-weight: bold;
}

.signup-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #D9A49180;
    border-radius: 12px;
    padding: 10px 10px 15px 20px;
    margin: 20px auto;
    overflow: hidden;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100%;
    padding-right: 10px;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.input-container {
    align-self: stretch;
}

.form-photo, .form-description {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #001F31;
    margin-top: 15px;
}

.form-photo {
    align-self: flex-start;
}

.form-description {
    align-self: stretch;
}

.form-gcu-acceptation {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 15px;
}

.signup-validation-button {
    margin-top: 15px;
}

textarea {
    resize: vertical;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

@media only screen and (max-width: 480px) {
    .signup-logo {
        width: 150px;
        height: 150px;
    }

    .signup-main {
        width: 90%;
        max-height: 60vh;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .signup-logo {
        width: 180px;
        height: 180px;
    }

    .signup-main {
        width: 90%;
        max-height: 70vh;
    }

    .input-container, .form-photo, .form-description, .form-gcu-acceptation, .signup-validation-button {
        margin-top: 20px;
    }

    .input-container {
        margin-top: 20px !important;
    }
}

@media only screen and (min-width: 1025px) {
    .signup-logo {
        width: 180px;
        height: 180px;
    }

    .signup-main {
        padding-left: 60px;
        padding-right: 40px;
        padding-top: 20px;
        padding-bottom: 25px;
        width: 40%;
        max-height: 60vh;
    }

    .input-container, .form-photo, .form-description, .form-gcu-acceptation, .signup-validation-button {
        margin-top: 20px;
    }

    .input-container {
        margin-top: 20px !important;
    }
}