@mixin mobile {
    @media only screen and (max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-tablet-max) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin profile-picture-sizing($size: $profile-picture-small) {
    width: $size;
    height: $size;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin relative-flex-column {
    position: relative;
    display: flex;
    flex-direction: column;
}

@mixin relative-flex-row {
    position: relative;
    display: flex;
    flex-direction: row;
}

@mixin relative-flex-center {
    position: relative;
    display: flex;
    align-items: center;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin bold-label-14px ($font-size: $font-size-14, $font: $font-main, $color: $color-primary-text, $font-weight: $font-weight-700) {
    font-family: $font;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
}

@mixin label-12px($font-size: $font-size-12, $font: $font-main, $color: $color-primary-text) {
    font-family: $font;
    font-size: $font-size;
    color: $color;
}