@import '../base/variables';
@import '../abstracts/mixins';

.inputContainer {
    @include relative-flex-column;
    margin-top: 15px;
}

.inputLabel {
    @include bold-label-14-px;
}

.inputWrapper {
    @include relative-flex-center;
}

.inputField {
    flex: 1;
    background-color: white;
    border: $profile-border-width-2 $profile-border-style $color-main-dark;
    border-radius: $border-radius-6;
    padding: 5px;
    font-size: $font-size-14;

    &[type="password"] {
        padding-right: 30px;
    }
}

.inputPasswordIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: $color-primary-text;
    font-size: $font-size-20;
    font-weight: $font-weight-700;
}

.inputField:focus {
    outline: none;
    border-color: $color-highlight;
}