@import '../base/variables';
@import '../abstracts/mixins';

.inputSelectContainer {
    @include relative-flex-column;
    width: 100%;
}

.inputSelectLabel {
    @include bold-label-14-px;
}

.inputSelectField {
    background-color: white;
    border: $profile-border-width-2 $profile-border-style $color-main-dark;
    border-radius: $border-radius-6;
    padding: 5px;
    font-size: $font-size-14;
    cursor: pointer;
    appearance: none;
    padding-right: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='%23001F31' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
}

.inputSelectField:focus {
    outline: none;
    border-color: $color-highlight;
}

.inputSelectField option {
    font-size: $font-size-14;
    padding: 8px;
}