@import '../base/variables';
@import '../abstracts/mixins';

.appContainer {
    display: flex;
    min-height: 100vh;
}

.mainContent {
    flex-grow: 1;
    overflow-y: auto;

    @include desktop {
        padding-bottom: 0;
        padding-left: 20px;
        margin-left: 15%;
    }
}