// Colors variables
$color-primary-text: #001F31;
$color-secondary-text: #45525A;
$color-highlight: #54A49C;
$color-highlight-secondary: #1E8AB6;
$color-background: #EEE7E2;
$color-background-dark: #D9A49180;
$color-main-light: #E3C6B9;
$color-main-medium: #DEB5A5;
$color-main-dark: #D9A491;
$color-like: #CC0129;
$color-alert: #A60815;
$color-pre-alert: #f0ad4e;

// Font variables
$font-title: "Lobster", sans-serif;
$font-main: "Roboto", sans-serif;

// Font sizes
$font-size-20: 20px;
$font-size-24: 24px;

// Width
$width-20: 20px;
$width-24: 24px;

// Profile picture sizes

// Borders
$profile-border-width-1: 1px;
$profile-border-width-2: 2px;
$profile-border-style: solid;

// Border radius 
$border-radius-null: 0;
$border-radius-4: 4px;
$border-radius-5: 5px;
$border-radius-6: 6px;
$border-radius-8: 8px;
$border-radius-12: 12px;
$border-radius-50: 50px;
$border-radius-75: 75px;

// Z-index
$z-index-1005: 1005;
$z-index-1011: 1011;

// Position :
$position-fixed: fixed;
$position-relative: relative;
$position-absolute: absolute;

// Diplay :
$display-flex: flex;
$display-none: none;
$display-grid: grid;
$display-block: block;
$display-inline: inline;

// Justify content
$justify-content-end: flex-end;
$justify-content-center: center;
$justify-content-start: flex-start;
$justify-content-evenly: space-evenly;
$justify-content-around: space-around;
$justify-content-between: space-between;

// Align items
$align-items-center: center;
$align-items-start: flex-start;