@media only screen and (max-width: 480px) {
    .follow-main-container {
        padding: 10px;
        padding-bottom: 80px;
    }

    .follow-page-title {
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        color: #001f31;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .follow-page-subhead {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: #45525a;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .follow-back-button{
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .follow-main-container {
        padding: 10px;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .follow-page-title {
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        color: #001f31;
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .follow-page-subhead {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: #45525a;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1025px) {
    .follow-back-button{
        display: none;;
    }

    .follow-main-container {
        padding: 10px;
        width: 40%;
        margin: 0 auto;
    }

    .follow-page-title {
        text-align: center;
        font-size: 25px;
        font-weight: 500;
        color: #001f31;
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .follow-page-subhead {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        color: #45525a;
        margin-bottom: 50px;
    }
}