:root {
    --primary-color: #D9A491;
    --font-size-small: 14px;
    --scrollview-width: 80%;
    --scrollview-padding: 20px;
    --scrollview-border: 1px solid var(--primary-color);
    --scrollview-border-radius: 6px;
}

.gcu-logo {
    width: calc(30% + 1vw);
    height: auto;
}

.gcu-logo-title {
    font-size: calc(1rem + 1vw);
}

.gcu-footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

.gcu-main-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    height: 100%;
}

.gcu-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0 0;
}

.gcu-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.gcu-scrollview {
    font-size: var(--font-size-small);
    width: var(--scrollview-width);
    overflow-y: scroll;
    border: var(--scrollview-border);
    margin-bottom: 10px;
    padding: var(--scrollview-padding);
    border-radius: var(--scrollview-border-radius);
}

@media only screen and (max-width: 480px) {
    .gcu-header-container {
        height: 20%;
    }

    .gcu-main-container {
        height: 70%;
        padding-bottom: 10%;
    }

    .gcu-scrollview {
        height: 85%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .gcu-header-container {
        height: 20%;
    }

    .gcu-main-container {
        height: 70%;
        padding-bottom: 10%;
    }

    .gcu-scrollview {
        height: 75%;
    }
}

@media only screen and (min-width: 1025px) {
    .gcu-logo {
        width: calc(20% + 1vw);
    }

    .gcu-header-container {
        padding-top: 2%;
    }

    .gcu-main-container {
        padding-bottom: 5%;
    }

    .gcu-scrollview {
        width: 40%;
        max-height: 60vh;
    }
}