* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EEE7E2;
}

html, body, #root {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #001F31;
    min-height: 100vh;
}

.website-name {
    font-family: 'Lobster', sans-serif;
    color: #001F31;
}

.card-background {
    background-color: #E3C6B9;
    border-radius: 12px;
}

.footer-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}