.more-button {
    width: 24px;
    cursor: pointer;
    font-size: 24px;
}

.material-icon-button-container {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.add-photos-text {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #001F31;
}