@media only screen and (max-width: 480px) {
    .navbar-container {
        width: 100%;
        height: 80px;
        position: fixed;
        bottom: 0;
        border-top: 1px solid #85C3BC;
    }

    .navbar-items-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80px;
        flex-grow: 1;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .navbar-item {
        color: #001F31;
        text-decoration: none;
        border: none;
        background: none;
        cursor: pointer;
        padding: 5px;
    }

    .navbar-item.active {
        color: #85C3BC;
    }

    .icon {
        font-size: 24px;
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }

    .navbar-item.active .icon,
    .icon.filled {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }

    .navbar-item-label {
        display: none;
    }

    .navbar-logo-container {
        display: none;
    }

    .navbar-more-container {
        display: none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .navbar-container {
        width: 100%;
        height: 100px;
        position: fixed;
        bottom: 0;
        border-top: 1px solid #85C3BC;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    .navbar-items-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        flex-grow: 1;
        justify-content: space-evenly;
        align-items: center;
        padding-left: 70px;
        padding-right: 70px;
    }

    .navbar-item {
        color: #001F31;
        text-decoration: none;
        border: none;
        background: none;
        cursor: pointer;
        padding: 5px;
    }

    .navbar-item.active {
        color: #85C3BC;
    }

    .icon {
        font-size: 24px;
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }

    .navbar-item.active .icon,
    .icon.filled {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }

    .navbar-item-label {
        display: none;
    }

    .navbar-logo-container {
        display: none;
    }

    .navbar-more-container {
        display: none;
    }
}

@media only screen and (min-width: 1025px) {
    .navbar-container {
        display: flex;
        flex-direction: column;
        width: 15%;
        height: 100%;
        flex-grow: 1;
        position: fixed;
        left: 20px;
        justify-content: space-between;
        align-items: flex-start;
        border-right: 1px solid #85C3BC;
    }

    .navbar-logo-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        width: 100%; 
    }

    .navbar-logo {
        width: 40px;
        height: 40px;
    }

    .navbar-title {
        display: inline;
        font-family: 'Lobster', sans-serif;
        font-size: 24px;
        color: #001F31;
        margin-left: 15px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0;
    }

    .navbar-item, .navbar-more{
        color: #001F31;
        text-decoration: none;
        border: none;
        background: none;
        cursor: pointer;
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar-more {
        align-self: flex-end;
    }

    .navbar-item.active {
        color: #85C3BC;
    }

    .icon {
        font-size: 24px;
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }

    .navbar-item.active .icon,
    .icon.filled {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }

    .navbar-item-label {
        display: inline;
        padding-left: 15px;
    }
}